In [1]:
import pandas as pd
df = pd.read_csv('sales_data.csv')
df

          Date                 Product     Category  Quantity  Price
0   2023-01-01                  Laptop  Electronics        10    800
1   2023-01-01                 T-Shirt     Clothing         5     20
2   2023-01-02              Smartphone  Electronics         8    400
3   2023-01-02            Coffee Maker         Home        12     50
4   2023-01-03                   Jeans     Clothing        15     30
5   2023-01-03                 Blender         Home         6     60
6   2023-01-04              Headphones  Electronics        10    150
7   2023-01-04                 Sweater     Clothing         7     35
8   2023-01-05                 Toaster         Home         8     25
9   2023-01-05                  Tablet  Electronics        12    300
10  2023-01-06                Sneakers     Clothing        10     50
11  2023-01-06          Vacuum Cleaner         Home         5     80
12  2023-01-07                Smart TV  Electronics        15   1000
13  2023-01-07                  Hoodie     Clothing         6     25
14  2023-01-08          Blu-ray Player         Home         9     70
15  2023-01-08        Wireless Earbuds  Electronics        11    120
16  2023-01-09            Denim Jacket     Clothing        13     45
17  2023-01-09            Air Purifier         Home         7     90
18  2023-01-10          Gaming Console  Electronics        14    400
19  2023-01-10            Formal Shirt     Clothing         8     35
20  2023-01-11            Cookware Set         Home        10     60
21  2023-01-11     External Hard Drive  Electronics         9     80
22  2023-01-12              Sunglasses     Clothing        11     15
23  2023-01-12               Desk Lamp         Home         6     25
24  2023-01-13        Wireless Speaker  Electronics        12     70
25  2023-01-13              Sweatpants     Clothing         7     20
26  2023-01-14            Coffee Table         Home         8    100
27  2023-01-14                   Drone  Electronics        10    300
28  2023-01-15                Backpack     Clothing        14     40
29  2023-01-15           Comforter Set         Home         7     45
30  2023-01-16         Fitness Tracker  Electronics         9     60
31  2023-01-16            Casual Shoes     Clothing         6     30
32  2023-01-17           Kitchen Scale         Home        12     20
33  2023-01-17               Projector  Electronics        13    200
34  2023-01-18             Dress Shirt     Clothing         8     25
35  2023-01-18              Steam Iron         Home        11     30
36  2023-01-19                Soundbar  Electronics        15    150
37  2023-01-19              Sweatshirt     Clothing         7     35
38  2023-01-20            Bedside Lamp         Home        10     20
39  2023-01-20  Point-and-Shoot Camera  Electronics         8    250
40  2023-01-21             Sport Shoes     Clothing        12     40
41  2023-01-21              Desk Chair         Home         6     75
42  2023-01-22          Wireless Mouse  Electronics        11     25
43  2023-01-22            Summer Dress     Clothing         9     30
44  2023-01-23         Pressure Cooker         Home        14     50
45  2023-01-23       Bluetooth Headset  Electronics         7     50
46  2023-01-24             Denim Skirt     Clothing         8     25
47  2023-01-24               Bookshelf         Home        13     80
48  2023-01-25              4K Monitor  Electronics         9    350
49  2023-01-25             Cargo Pants     Clothing        11     30

In [3]:
#1
df.groupby('Category').agg({'Quantity' : ['sum', 'max'] , 'Price' : 'mean'})

            Quantity           Price
                 sum max        mean
Category
Clothing         157  15   31.176471
Electronics      183  15  276.764706
Home             144  14   55.000000

In [5]:
#2
df.groupby('Category')['Quantity'].agg('sum')

Category
Clothing       157
Electronics    183
Home           144
Name: Quantity, dtype: int64

In [ ]:
#3
df['Total'] = df.Quantity * df.Price

In [7]:
df

          Date                 Product     Category  Quantity  Price  Total
0   2023-01-01                  Laptop  Electronics        10    800   8000
1   2023-01-01                 T-Shirt     Clothing         5     20    100
2   2023-01-02              Smartphone  Electronics         8    400   3200
3   2023-01-02            Coffee Maker         Home        12     50    600
4   2023-01-03                   Jeans     Clothing        15     30    450
5   2023-01-03                 Blender         Home         6     60    360
6   2023-01-04              Headphones  Electronics        10    150   1500
7   2023-01-04                 Sweater     Clothing         7     35    245
8   2023-01-05                 Toaster         Home         8     25    200
9   2023-01-05                  Tablet  Electronics        12    300   3600
10  2023-01-06                Sneakers     Clothing        10     50    500
11  2023-01-06          Vacuum Cleaner         Home         5     80    400
12  2023-01-07                Smart TV  Electronics        15   1000  15000
13  2023-01-07                  Hoodie     Clothing         6     25    150
14  2023-01-08          Blu-ray Player         Home         9     70    630
15  2023-01-08        Wireless Earbuds  Electronics        11    120   1320
16  2023-01-09            Denim Jacket     Clothing        13     45    585
17  2023-01-09            Air Purifier         Home         7     90    630
18  2023-01-10          Gaming Console  Electronics        14    400   5600
19  2023-01-10            Formal Shirt     Clothing         8     35    280
20  2023-01-11            Cookware Set         Home        10     60    600
21  2023-01-11     External Hard Drive  Electronics         9     80    720
22  2023-01-12              Sunglasses     Clothing        11     15    165
23  2023-01-12               Desk Lamp         Home         6     25    150
24  2023-01-13        Wireless Speaker  Electronics        12     70    840
25  2023-01-13              Sweatpants     Clothing         7     20    140
26  2023-01-14            Coffee Table         Home         8    100    800
27  2023-01-14                   Drone  Electronics        10    300   3000
28  2023-01-15                Backpack     Clothing        14     40    560
29  2023-01-15           Comforter Set         Home         7     45    315
30  2023-01-16         Fitness Tracker  Electronics         9     60    540
31  2023-01-16            Casual Shoes     Clothing         6     30    180
32  2023-01-17           Kitchen Scale         Home        12     20    240
33  2023-01-17               Projector  Electronics        13    200   2600
34  2023-01-18             Dress Shirt     Clothing         8     25    200
35  2023-01-18              Steam Iron         Home        11     30    330
36  2023-01-19                Soundbar  Electronics        15    150   2250
37  2023-01-19              Sweatshirt     Clothing         7     35    245
38  2023-01-20            Bedside Lamp         Home        10     20    200
39  2023-01-20  Point-and-Shoot Camera  Electronics         8    250   2000
40  2023-01-21             Sport Shoes     Clothing        12     40    480
41  2023-01-21              Desk Chair         Home         6     75    450
42  2023-01-22          Wireless Mouse  Electronics        11     25    275
43  2023-01-22            Summer Dress     Clothing         9     30    270
44  2023-01-23         Pressure Cooker         Home        14     50    700
45  2023-01-23       Bluetooth Headset  Electronics         7     50    350
46  2023-01-24             Denim Skirt     Clothing         8     25    200
47  2023-01-24               Bookshelf         Home        13     80   1040
48  2023-01-25              4K Monitor  Electronics         9    350   3150
49  2023-01-25             Cargo Pants     Clothing        11     30    330

In [12]:
df.groupby('Date').agg({'Total' : 'max'})

            Total
Date
2023-01-01   8000
2023-01-02   3200
2023-01-03    450
2023-01-04   1500
2023-01-05   3600
2023-01-06    500
2023-01-07  15000
2023-01-08   1320
2023-01-09    630
2023-01-10   5600
2023-01-11    720
2023-01-12    165
2023-01-13    840
2023-01-14   3000
2023-01-15    560
2023-01-16    540
2023-01-17   2600
2023-01-18    330
2023-01-19   2250
2023-01-20   2000
2023-01-21    480
2023-01-22    275
2023-01-23    700
2023-01-24   1040
2023-01-25   3150

#TASK_2

In [13]:
import pandas as pd
df = pd.read_csv('customer_orders.csv')
df

    OrderID  CustomerID              Product  Quantity  Price
0         1         101               Laptop         2    800
1         2         102           Headphones         1    150
2         3         103           Smartphone         3    400
3         4         101  External Hard Drive         2     80
4         5         102             Backpack         1     40
..      ...         ...                  ...       ...    ...
95       96         103              Blender         1     60
96       97         104          Sport Shoes         2     40
97       98         105        Comforter Set         1     45
98       99         101     Wireless Earbuds         2    120
99      100         102       Gaming Console         1    400

[100 rows x 5 columns]

In [ ]:
#1
x = df.groupby('CustomerID').agg({'Quantity' : 'sum'})
y = x['Quantity'] < 26
s = x[y]
s

            Quantity
CustomerID
102               25
105               21

In [24]:
#2
x = df.groupby(['CustomerID', 'Product']).agg({'Price' : 'mean'})
y = x['Price'] > 120
s = x[y]
s

                                    Price
CustomerID Product
101        Gaming Console           400.0
           Laptop                   800.0
           Point-and-Shoot Camera   250.0
102        Drone                    300.0
           Gaming Console           400.0
           Headphones               150.0
           Smart TV                1000.0
           Smartphone               400.0
103        Smartphone               400.0
104        Gaming Console           400.0
           Smart TV                1000.0
           Tablet                   300.0
105        Drone                    300.0
           Point-and-Shoot Camera   250.0
           Projector                200.0

In [26]:
#3
x = df.groupby('Product')[['Quantity', 'Price']].agg('sum')
y = x['Quantity'] < 5
s = x[y]
s

                        Quantity  Price
Product
Backpack                       4    160
Blender                        4    180
Blu-ray Player                 2    140
Bluetooth Headset              2    100
Bookshelf                      2    160
Casual Shoes                   3     90
Coffee Maker                   3    150
Coffee Table                   3    200
Comforter Set                  3    135
Cookware Set                   1     60
Denim Jacket                   2     90
Denim Skirt                    1     25
Desk Chair                     2    150
Desk Lamp                      2     50
Drone                          2    600
External Hard Drive            3    160
Fitness Tracker                3    180
Formal Shoes                   3    180
Gaming Console                 3   1200
Headphones                     1    150
Hoodie                         2     50
Jeans                          3     90
Kitchen Scale                  1     20
Laptop                         2    800
Point-and-Shoot Camera         2    500
Projector                      2    400
Smart TV                       3   3000
Sneakers                       3    100
Steam Iron                     3     60
Summer Dress                   3     60
Sweater                        3     70
Sweatshirt                     2     35
Tablet                         2    300
Toaster                        3     50
Wireless Charger               2     70
Wireless Mouse                 3     75
Wireless Speaker               2    140